.header {

	background: linear-gradient(90deg, rgba(75, 108, 255, 0.73) 21%, rgba(98, 239, 244, 0.71) 94%) , url("../images/bgimage.jpg") center center no-repeat;
	width: 100%;
	height: 100%;


}


.header-logo img{

	width: 70px;
	height: 45px;
}
.text-intro {
	font-family: roboto;
	color: #FFF;
	font-weight: 400px;
}