body, html {
  height: 100%;
    font-family: Quicksand;
    color: #fff;

}

/*logo styling*/
.header-logo img{

	width: 70px;
	height: 45px;
}

/*main header (banner) bg image*/
.header {

	background-image: linear-gradient(90deg, rgba(75, 108, 255, 0.73) 21%, rgba(98, 239, 244, 0.71) 94%) , url("../images/bgimage.jpg")  ;
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 1024px;
	width: 100%;
	height:100%;
	position: cover;
 	/*top: 0;
  	left: 0;*/
}

/*banner text and form styling*/
.text-intro  {
	font-family: roboto;
	color: #FFF;
	font-weight: 400px;
}

.card {
	box-shadow:0px 1px 6px rgba(46, 147, 168, 0.46)
}
.cardtext-heading   {
	font-family: roboto;
	color: #777;
	font-weight: 400px;
	font-size: 25px;
}
.cardtext-body{

	color: #777;
	font-size: 15px;
	font-family: Quicksand;

}
.moveform-end{
	/*margin-right: 60%;*/
}

.form-overico{
	margin-left: -60%;
	color: #fff;
	background: #6dd0ab;
}
.btnform-style{
	color: #fff;
	background: #6dd0ab;
	font-family:Quicksand;
	font-size: 14px;	
}
p {

	font-family: Quicksand;
	font-size: 15px;

}
.formstyle{
font-family: Quicksand;
	font-size: 15px;
	align-content: justify;

}
label{

	font-family: roboto;
	font-size: 12px;
	/*align-content: justify;*/
	color: #7777;
}


.icon-images {
	
	width: 145px;
	height: 150px;
	max-width: 150px;
}

.icon-images:overlay {


	
}

.service-heading{
	color: #777;
	font-size: 16px;
	font-family: roboto;
}

.service-heading span{
	color: #6dd0ab;
}

.service-desctiption {

	color: #777;
	font-size: 11px;
	font-family: quicksand;

}
.support-section{
	background: #cfcfcf33;
}
.support {
	color: #777;
	font-family: roboto;
}

.support-icon {
	width: 500px;
	height: 370px;
}